<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro Estudiante</title>
</head>
<body>
    <form method="POST" action="">{% csrf_token %}
        {{ formulario_estudiante.as_p }}
        <input type="submit" value="Guardar">
    </form>
</body>
</html>